<!DOCTYPE HTML>
<html>
<head>
    <title>Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="left-sidebar is-preload">
<div id="page-wrapper">
    <div id="header-wrapper">
        <div class="container">
            <header id="header">
                <div class="inner">
                    <h1><a href="index.html" id="logo">Ride Share</a></h1>
                    <nav id="nav">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li class="current_page_item"><a href="driver.html">My Account</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
    </div>
    <div id="main-wrapper">
        <div class="wrapper style2">
            <div class="inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="content">
                                <article>
                                    <header class="major">
                                        <h2>Welcome {{user.name}}!</h2>
                                    </header>
                                    <div class="row justify-content-center">
                                        <div class="col-xs-4">
                                            <div id="sidebar">
                                                <a href="index.html"><img class="img-responsive" src="images/small-logo.png"/></a>
                                                <h2>Subheading</h2>
                                                <p>Put something here.</p>
                                                <button class="btn">Find out more</button>
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <div class="card">
                                                <div class="card-header">
                                                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                                        <li class="nav-item active">
                                                            <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Active Drivers</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="pills-create-a-ride-tab" data-toggle="pill" href="#pills-create-a-ride" role="tab" aria-controls="pills-create-a-ride" aria-selected="false">Create A Ride</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="pills-create-a-driver-tab" data-toggle="pill" href="#pills-create-a-driver" role="tab" aria-controls="pills-create-a-driver" aria-selected="false">Create A Driver</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="pills-clients-tab" data-toggle="pill" href="#pills-clients" role="tab" aria-controls="pills-clients" aria-selected="false">Clients</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="pills-drivers-tab" data-toggle="pill" href="#pills-drivers" role="tab" aria-controls="pills-drivers" aria-selected="false">Drivers</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="pills-requests-tab" data-toggle="pill" href="#pills-requests" role="tab" aria-controls="pills-requests" aria-selected="false">Requests</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="pills-history-tab" data-toggle="pill" href="#pills-history" role="tab" aria-controls="pills-history" aria-selected="false">History</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="tab-content" id="pills-tabContent">
                                                            <div class="tab-pane fade active in" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                                                <div v-if="online_drivers.length === 0" class="alert alert-danger">No Drivers Online</div>
                                                                <div v-for="(online_driver, index) in online_drivers">
                                                                    <a class="btn btn-link" data-toggle="collapse" :data-target="'#online_driver'+index">{{ online_driver.name }}</a>
                                                                    <div :id="'online_driver'+index" class="collapse">
                                                                        <ul>
                                                                            <li>ID: {{online_driver.id}}</li>
                                                                            <li>Email: {{online_driver.email}}</li>
                                                                            <li>Phone Number: {{online_driver.phone_number}}</li>
                                                                            <li>Rating: {{online_driver.rating}}</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="pills-create-a-ride" role="tabpanel" aria-labelledby="pills-create-a-ride-tab">
                                                                <form @submit.prevent="submitRequest" v-if="Object.keys(active_client).length !== 0">
                                                                    <div class="form-group col-xs-12">
                                                                        <label for="full_name">Full Name:</label>
                                                                        <input class="form-control" type="text" id="full_name" placeholder="Full Name" name="full_name" v-model="active_client.name" required>
                                                                    </div>
                                                                    <div class="form-group col-xs-12">
                                                                        <label for="request_phone">Phone Number:</label>
                                                                        <input class="form-control" type="tel" id="request_phone" placeholder="1-(555)-555-5555" name="request_phone" v-model="active_client.phone_number" required>
                                                                    </div>
                                                                    <div class="form-group col-xs-12">
                                                                        <label for="current_address">Current Address</label>
                                                                        <input type="text" class="form-control" id="current_address" aria-describedby="current_address_help" name="current" placeholder="Current Address" v-model="pick_up_address" required>
                                                                        <small id="current_address_help" class="form-text text-muted">Address where you should be picked up at</small>
                                                                    </div>
                                                                    <div class="form-group col-xs-12">
                                                                        <label for="destination_address">Destination address</label>
                                                                        <input type="text" class="form-control" id="destination_address" aria-describedby="destination_address_help" name="destination" placeholder="Destination Address" v-model="destination_address" required>
                                                                        <small id="destination_address_help" class="form-text text-muted">Address where the you should be taken</small>
                                                                    </div>
                                                                    <div class="form-group col-xs-12">
                                                                        <label for="duration_of_service">Estimated Length</label>
                                                                        <input type="text" class="form-control" id="duration_of_service" aria-describedby="duration_help" name="duration" placeholder="Duration of Service" v-model="estimated_length" required>
                                                                        <small id="duration_help" class="form-text text-muted">How much time will you be spending at the destination(s)</small>
                                                                    </div>
                                                                    <div class="form-group col-xs-12">
                                                                        <label for="time">Time of Pickup</label>
                                                                        <input type="text" class="form-control" id="time" name="time" placeholder="24:59" v-model="time" required>
                                                                    </div>
                                                                    <div class="form-group col-xs-12">
                                                                        <label for="date">Date of Pickup</label>
                                                                        <input type="text" class="form-control" id="date" name="date" placeholder="mm/dd/yyyy" v-model="date" required>
                                                                    </div>
                                                                    <div class="col-xs-12 text-center">
                                                                        <button class="btn btn-dark" type="submit">Make Request</button>
                                                                    </div>
                                                                </form>
                                                                <div v-else class="alert alert-danger">You must select a client before creating a ride.</div>
                                                                <div>{{message}}</div>
                                                            </div>
                                                            <div class="tab-pane fade" id="pills-create-a-driver" role="tabpanel" aria-labelledby="pills-create-a-driver-tab">
                                                                <form @submit.prevent="registerDriver">
                                                                    <div class="form-group row">
                                                                        <label for="first_name" class="col-xs-4 col-form-label text-right">First Name</label>
                                                                        <div class="col-xs-6">
                                                                            <input id="first_name" type="text" class="form-control" name="name" v-model="sign_up_first_name" required autofocus>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="last_name" class="col-xs-4 col-form-label text-right">Last Name</label>
                                                                        <div class="col-xs-6">
                                                                            <input id="last_name" type="text" class="form-control" name="name" v-model="sign_up_last_name" required autofocus>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="phone_number" class="col-xs-4 col-form-label text-right">Phone Number</label>
                                                                        <div class="col-xs-6">
                                                                            <input id="phone_number" type="text" class="form-control" name="phone_number" v-model="sign_up_phone_number" required autofocus>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="sign_up_email" class="col-xs-4 col-form-label text-right">E-Mail Address</label>
                                                                        <div class="col-xs-6">
                                                                            <input id="sign_up_email" type="email" class="form-control" name="email" v-model="sign_up_email" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="sign_up_password" class="col-xs-4 col-form-label text-right">Password</label>
                                                                        <div class="col-xs-6">
                                                                            <input id="sign_up_password" type="password" class="form-control" name="password" v-model="sign_up_password" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row">
                                                                        <label for="password-confirm" class="col-xs-4 col-form-label text-right">Confirm Password</label>
                                                                        <div class="col-xs-6">
                                                                            <input id="password-confirm" type="password" class="form-control" name="password_confirmation" v-model="sign_up_password_confirm" required>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group row mb-0">
                                                                        <div class="col-xs-12 text-center">
                                                                            <button class="btn btn-primary" type="submit">Register Driver</button>
                                                                        </div>
                                                                    </div>
                                                                    {{message}}
                                                                </form>
                                                            </div>
                                                            <div class="tab-pane fade" id="pills-clients" role="tabpanel" aria-labelledby="pills-clients-tab">
                                                                <div v-for="(client, index) in clients">
                                                                    <a class="btn" :class="[client.authenticated === 0 ? 'btn-danger' : 'btn-link']" data-toggle="collapse" :data-target="'#client'+index">{{ client.name }}</a>
                                                                    <div :id="'client'+index" class="collapse">
                                                                        <ul>
                                                                            <li>ID: {{client.id}}</li>
                                                                            <li>Email: {{client.email}}</li>
                                                                            <li>Phone Number: {{client.phone_number}}</li>
                                                                            <li>Rating: {{client.rating}}</li>
                                                                            <li v-if="client.authenticated === 0">Authorize:<button type="button" class="btn btn-success" @click="authorizeClient(client,'yes')">Yes</button><button type="button" class="btn btn-danger" @click="authorizeClient(client,'no')">No</button></li>
                                                                            <li style="margin-top: 3px"><button type="button" class="btn" @click="createARide(client)">Create a Ride</button></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="pills-drivers" role="tabpanel" aria-labelledby="pills-drivers-tab">
                                                                <div v-for="(driver, index) in drivers">
                                                                    <a class="btn btn-link" data-toggle="collapse" :data-target="'#driver'+index">{{ driver.name }}</a>
                                                                    <div :id="'driver'+index" class="collapse">
                                                                        <ul>
                                                                            <li>ID: {{driver.id}}</li>
                                                                            <li>Email: {{driver.email}}</li>
                                                                            <li>Phone Number: {{driver.phone_number}}</li>
                                                                            <li>Rating: {{driver.rating}}</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="pills-requests" role="tabpanel" aria-labelledby="pills-requests-tab">
                                                                <div v-for="(request, index) in requests">
                                                                    <a class="btn btn-link" data-toggle="collapse" :data-target="'#request'+index">Request {{ index+1 }}</a>
                                                                    <div :id="'request'+index" class="collapse">
                                                                        <ul>
                                                                            <li>Status: {{ request.status === 1 ? 'in-route' : 'pending' }}</li>
                                                                            <li>Pick Up Address: {{ request.pick_up_address }}</li>
                                                                            <li>Destination Address: {{ request.destination_address }}</li>
                                                                            <li>Time: {{ request.time }}</li>
                                                                            <li>Date: {{ request.date }}</li>
                                                                            <li>Estimated Length: {{ request.estimated_length }}</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
                                                                <div v-for="(history, index) in histories">
                                                                    <a class="btn btn-link" data-toggle="collapse" :data-target="'#history'+index">History {{ index+1 }}</a>
                                                                    <div :id="'history'+index" class="collapse">
                                                                        <ul>
                                                                            <li>Client ID: {{ history.client_id }}</li>
                                                                            <li>Driver ID: {{ history.driver_id }}</li>
                                                                            <li>Pick Up Address: {{ history.pick_up_address }}</li>
                                                                            <li>Destination Address: {{ history.destination_address }}</li>
                                                                            <li>Time: {{ history.time }}</li>
                                                                            <li>Date: {{ history.date }}</li>
                                                                            <li>Estimated Length: {{ history.estimated_length }}</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-wrapper">
        <footer id="footer" class="container">
            <div class="row">
                <section>
                    <h2><strong>Ride Share</strong></h2>
                    <p>Hi! This is <strong>Ride Share</strong>, a free ride service site
                    </p>
                    <a href="#" class="button alt icon fa-arrow-circle-right">Learn More</a>
                </section>
                <section>
                    <h2>Get in touch</h2>
                    <div>
                        <div class="row">
                            <div class="col-xs-6">
                                <dl class="contact">
                                    <dt>Twitter</dt>
                                    <dd><a href="#">@untitled-corp</a></dd>
                                    <dt>Facebook</dt>
                                    <dd><a href="#">facebook.com/untitled</a></dd>
                                    <dt>WWW</dt>
                                    <dd><a href="#">untitled.tld</a></dd>
                                    <dt>Email</dt>
                                    <dd><a href="#">user@untitled.tld</a></dd>
                                </dl>
                            </div>
                            <div class="col-xs-6">
                                <dl class="contact">
                                    <dt>Address</dt>
                                    <dd>
                                        1234 Fictional Rd<br />
                                        Longville, MN 56655<br />
                                        USA
                                    </dd>
                                    <dt>Phone</dt>
                                    <dd>(000) 000-0000</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="col-xs-12">
                    <div id="copyright">
                        <ul class="menu">
                            <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="assets/js/vue/admin.js"></script>
</body>
</html>